@font-face {
    font-family: Geologica;
    src: url('fonts/Geologica-Medium.ttf'),
        url('fonts/Geologica-Regular.ttf'),
        url('fonts/Geologica-SemiBold.ttf');
}

* {
    margin: 0;
}

h2 {
    font-size: 28px;
    padding-bottom: 10px;
}

nav ul li{
    list-style-type: none;
    padding-bottom: 10px;
}

nav ul {
    padding: 15px 0;
}

body {
    background-color: rgb(33, 33, 33);
    font-family: Geologica, 'Times New Roman', Times, serif;
    color: white;
}

.CV__wrapper {
    margin: 0 auto;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
}

header {
    padding: 50px 10%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.header__img {
    width: 150px;
}

.header__img img{
    width: 100%;
}

main {
    display: flex;
    /* padding: 50px 5%; */
    background-color: #b7b7b7;
    
}

.contacts {
    width: 30%;
    color: black;
    font-size: 20px;
    padding: 50px 5%;
}


.about {
    width: 80%;
    padding: 50px 5%;
    background-color: aliceblue;
    color: black;
}

.about__section {
    padding-bottom: 60px;
}

.about .title {
    font-size: 30px;
    padding-bottom: 10px;
}

.about .text {
    font-size: 22px;
    padding-bottom: 10px;
}

pre {
    background-color: #f1f6fae7;
}

footer {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_Github {
    width: 50px;
}

.logo_RS {
    width: 100px;
}

.logo_RS svg{
    width: 100%;
}