@font-face {
    font-family: Geologica;
    src: url('/fonts/Geologica-Medium.ttf'),
        url('/fonts/Geologica-Regular.ttf'),
        url('/fonts/Geologica-SemiBold.ttf');
}

* {
    margin: 0;
    color: white;
}

body {
    background-color: rgb(33, 33, 33);
    font-family: Geologica, 'Times New Roman', Times, serif;
}

.CV__wrapper {
    margin: 0 auto;
    padding: 50px 100px;
    width: 1280px;
    background-color: rgb(56, 56, 56);
}

header {
    padding: 50px 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 50px;
}

.header__img {
    width: 150px;
}

.header__img img{
    width: 100%;
}

main {
    display: flex;
    padding-bottom: 50px;
}

footer {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_Github {
    width: 50px;
}

.logo_RS {
    width: 100px;
}

.logo_RS svg{
    width: 100%;
}